@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';

@card-radius: 9px;
@card-padding-base: 0;

@box-shadow-base: 0px 1px 0px rgba(90, 97, 105, 0.11),
    0px 2px 4px rgba(90, 97, 105, 0.12),
    0px 5px 5px rgba(90, 97, 105, 0.06),
    0px 3.5px 35px rgba(90, 97, 105, 0.1);

@btn-border-radius-base: 4px;
@btn-padding-horizontal-base: 38px;
@btn-danger-bg: #C4183C;

@font-size-base: 12px;

@menu-item-font-size: 15px;

@input-padding-horizontal: 8px;